.login-page__card {
    min-width: 300px;
    max-width: 520px;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}